{% if is_granted('ROLE_ADMIN') %}

{% extends 'base_admin.html.twig' %}

{% block body %}


{% include("admin/admin_header.html.twig") %}
{% include("admin/admin_aside.html.twig") %}

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-file-text-o"></i> View Car</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="{{path('admin_home_page')}}">Admin</a></li>
                <li><i class="icon_document_alt"></i>Car</li>
                <li><i class="fa fa-file-text-o"></i>Details</li>
            </ol>
            </div>
        </div>

        <div class="row">

            <div class="col-md-3">
                <p class="lead">{{ gB_presentation.pDescription|raw }}</p>
                <ul>
                    <li>
                        <a href="{{ path('gb_car_show_admin', { 'id': gB_presentation.car.id }) }}">Back</a>
                    </li>
                    <li>
                        <a href="{{ path('gb_presentation_edit', { 'id': gB_presentation.id }) }}">Edit</a>
                    </li>
                </ul>

            </div>

            <div class="col-md-9">

                <div class="thumbnail">
                    <img class="img-responsive" style="max-width:800px; max-height:500px;" src="{{gB_presentation.pPhotoPath}}" alt="">
                    <hr />
                    <div class="caption-full">
                        <h4 class="pull-right">{{ gB_presentation.car.cPrice|number_format(0, '.', ',') }}</h4>
                        <h4><a href="#">{{ gB_presentation.car.cMake }} {{ gB_presentation.car.cModel }}</a></h4>
                    </div>
                </div>

            </div>

        </div>


     </section>
  </section>

{% endblock %}

{% endif %}
