{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gb_models list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Mdname</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gB_model in gB_models %}
            <tr>
                <td><a href="{{ path('gb_model_show', { 'id': gB_model.id }) }}">{{ gB_model.id }}</a></td>
                <td>{{ gB_model.mdName }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('gb_model_show', { 'id': gB_model.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('gb_model_edit', { 'id': gB_model.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('gb_model_new') }}">Create a new gB_model</a>
        </li>
    </ul>
{% endblock %}
