    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="top-area">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-6 hidden-xs">
              <p class="bold text-left">Sun - Fri 8am to 10pm </p>
            </div>
            <div class="col-sm-6 col-md-6 hidden-xs">
              <p class="bold text-right">+254 700 131 326 / +254 722 484 723</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container navigation">

        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                {% set home_url = app.request.getSchemeAndHttpHost() %}
          <a class="navbar-brand" href="index.html">
                    <img src="{{home_url}}/img/logo.jpeg" alt="" width="250" height="70" style="margin-top:-15px;" />
                </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{path('homepage')}}">Home</a></li>
            <li><a href="{{path('homepage')}}#service">Latest</a></li>
            <li><a href="{{path('homepage')}}#doctor">Cars</a></li>
            <li><a href="{{path('homepage')}}#testimonial">Testimonials</a></li>
            <li><a href="{{path('homepage')}}#pricing">Contact</a></li>
            <li><a target="blank" href="https://tawk.to/chat/5d67bba477aa790be33164e1/default">Live Chat</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
              <ul class="dropdown-menu">
                {% if app.user|length > 0 %}
                <li><a href="{{path('fos_user_security_logout')}}">Logout ({{app.user|capitalize}})</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{path('admin_home_page')}}">Admin Page</a></li>             
                {% endif %}                   
                {% else %}
                <li><a href="{{path('fos_user_security_login')}}">Sign In</a></li>
                <li><a href="{{path('fos_user_registration_register')}}">Sign Up</a></li>             
                {% endif %}
              </ul>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>
