
    <!-- Section: services -->
    <section id="service" class="home-section nopadding paddingtop-60">

      <div class="container">
      {# one car with 6 details here #}

        <div class="row">
          <div class="col-sm-6 col-md-6">
            <div class="wow fadeInUp" data-wow-delay="0.2s">
              <img src="{{latest_car.image}}" class="img-responsive img-circle" alt="" style="margin-top:-20px;" />
            </div>
          </div>
          <div class="col-sm-3 col-md-3">

            <div class="wow fadeInRight" data-wow-delay="0.1s">
              <div class="service-box">
                <div class="service-icon">
                  <span class="fa fa-cab fa-3x"></span>
                </div>
                <div class="service-desc">
                  <h5 class="h-light">{{latest_car.cMake}} {{latest_car.cModel}}</h5>
                  <p>Make and Model</p>
                </div>
              </div>
            </div>

            <div class="wow fadeInRight" data-wow-delay="0.2s">
              <div class="service-box">
                <div class="service-icon">
                  <span class="fa fa-sort-numeric-asc fa-3x"></span>
                </div>
                <div class="service-desc">
                  <h5 class="h-light">{{latest_car.cMileage}}</h5>
                  <p>Mileage</p>
                </div>
              </div>
            </div>
            <div class="wow fadeInRight" data-wow-delay="0.3s">
              <div class="service-box">
                <div class="service-icon">
                  <span class="fa fa-level-up fa-3x"></span>
                </div>
                <div class="service-desc">
                  <h5 class="h-light">{{latest_car.cEngCap}}</h5>
                  <p>Engine Capacity</p>
                </div>
              </div>
            </div>


          </div>
          <div class="col-sm-3 col-md-3">

            <div class="wow fadeInRight" data-wow-delay="0.1s">
              <div class="service-box">
                <div class="service-icon">
                  <span class="fa fa-calendar fa-3x"></span>
                </div>
                <div class="service-desc">
                  <h5 class="h-light">{{latest_car.cRegYear}}</h5>
                  <p>Registration Year</p>
                </div>
              </div>
            </div>

            <div class="wow fadeInRight" data-wow-delay="0.2s">
              <div class="service-box">
                <div class="service-icon">
                  <span class="fa fa-money fa-3x"></span>
                </div>
                <div class="service-desc">
                  <h5 class="h-light">Kes {{latest_car.cPrice|number_format(0, '.', ',')}}</h5>
                  <p>Price</p>
                </div>
              </div>
            </div>
            <div class="wow fadeInRight" data-wow-delay="0.3s">
              <div class="service-box">
                <div class="service-icon">
                  <span class="fa fa-gears fa-3x"></span>
                </div>
                <div class="service-desc">
                  <h5 class="h-light">{{latest_car.cTrans}}</h5>
                  <p>Transmission</p>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </section>
    <!-- /Section: services -->

