
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
          <li class="active">
            <a class="" href="{{path('homepage')}}">
                <i class="icon_house_alt"></i>
                <span>Public Page</span>
            </a>
          </li>
          <li class="active">
            <a class="" href="{{path('admin_home_page')}}">
                <i class="icon_house_alt"></i>
                <span>Dashboard</span>
            </a>
          </li>
          <li class="sub-menu">
            <a href="javascript:;" class="">
                <i class="icon_document_alt"></i>
                <span>Car Makes</span>
                <span class="menu-arrow arrow_carrot-right"></span>
            </a>
            <ul class="sub">
              <li><a class="" href="{{path('gb_make_new')}}">Add Car Make</a></li>
              <li><a class="" href="{{path('gb_make_index')}}">List Car Makes</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;" class="">
              <i class="icon_desktop"></i>
              <span>Car Models</span>
              <span class="menu-arrow arrow_carrot-right"></span>
            </a>
            <ul class="sub">
              <li><a class="" href="{{path('gb_model_new')}}">Add Car Model</a></li>
              <li><a class="" href="{{path('gb_model_index')}}">List Car Models</a></li>
            </ul>
          </li>
          <li>
            <a class="" href="{{path('gb_car_index')}}">
              <i class="icon_genius"></i>
              <span>Cars</span>
            </a>
          </li>
          <li>
            <a class="" href="{{path('gb_testimonial_index')}}">
              <i class="icon_piechart"></i>
              <span>Testimonials</span>
            </a>
          </li>


        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->

