{% extends 'base.html.twig' %}

{% block body %}
{% include 'nav_admin.html.twig' %}


<div class="home-section" style="padding-top:150px;">    
  <div class="container">

    <div class="row">

      <div class="col-md-12 col-sm-12 col-md-12">
        <div class="panel-body">
            {# <div id="sendmessage">Your message has been sent. Thank you!</div> #}
            <div id="errormessage"></div>

            {{ form_start(form, {'attr': {'class': 'contactForm lead', 'id': 'purchace_form', 'role': 'form'}}) }}

            {# <form action="" method="post" id="purchace_form" role="form" class="contactForm lead"> #}
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                <label for="sel1">Make:</label>
                {{ form_widget(form.mName, { 'attr': {'placeholder': 'Car Make'|trans, 'class': 'form-control' }}) }}
                {{ form_errors(form.mName, { 'attr': {'class': 'validation'}} ) }}
                </div> 
                </div> 

            </div>

            <input type="submit" value="Create" class="btn btn-skin btn-lg">

            {{ form_end(form) }}
        </div>
      </div>

    </div>
    <ul>
        <li>
            <a href="{{ path('gb_make_index') }}">Back to the list</a>
        </li>
    </ul>

    

  </div>
</div>

{% endblock %}
