{% if is_granted('ROLE_ADMIN') %}

{% extends 'base_admin.html.twig' %}

{% block body %}


{% include("admin/admin_header.html.twig") %}
{% include("admin/admin_aside.html.twig") %}

<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-file-text-o"></i> View Car</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="{{path('admin_home_page')}}">Admin</a></li>
                <li><i class="icon_document_alt"></i>Car</li>
                <li><i class="fa fa-file-text-o"></i>Details</li>
                <li><i class="fa fa-file-text-o"></i><a href="{{path('gb_presentation_new', {'car_id': gB_car.id })}}">Add Image of this Car</a></li>
            </ol>
            </div>
        </div>

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Gybird Motors</p>
                <div class="list-group" style="text-align:center;">
                <a href="#" class="list-group-item"><span class="ref">Make : </span>&nbsp;{{ gB_car.cMake }}</a>
                <a href="#" class="list-group-item"><span class="ref">Model : </span>&nbsp;{{ gB_car.cModel }}</a>
                <a href="#" class="list-group-item"><span class="ref">Steering : </span>&nbsp;{{ gB_car.cSteering }}</a>
                <a href="#" class="list-group-item"><span class="ref">Engine Capacity : </span>&nbsp;{{ gB_car.cEngCap }}</a>
                <a href="#" class="list-group-item"><span class="ref">Registration Year : </span>&nbsp;{{ gB_car.cRegYear }}</a>
                <a href="#" class="list-group-item"><span class="ref">Fuel : </span>&nbsp;{{ gB_car.cFuel }}</a>
                <a href="#" class="list-group-item"><span class="ref">Body Style : </span>&nbsp;{{ gB_car.cBodyStyle }}</a>
                <a href="#" class="list-group-item"><span class="ref">Exterior Color : </span>&nbsp;{{ gB_car.cExtColor }}</a>
                <a href="#" class="list-group-item"><span class="ref">Internal Color : </span>&nbsp;{{ gB_car.cIntColor }}</a>
                <a href="#" class="list-group-item"><span class="ref">Drive Type : </span>&nbsp;{{ gB_car.cDriveType }}</a>
                <a href="#" class="list-group-item"><span class="ref">Doors : </span>&nbsp;{{ gB_car.cDoors }}</a>
                <a href="#" class="list-group-item"><span class="ref">VIN : </span>&nbsp;{{ gB_car.cVin }}</a>
                <a href="#" class="list-group-item"><span class="ref">Model Code : </span>&nbsp;{{ gB_car.cModelCode }}</a>
                <a href="#" class="list-group-item"><span class="ref">Mileage : </span>&nbsp;{{ gB_car.cMileage }}</a>
                <a href="#" class="list-group-item"><span class="ref">Transmission : </span>&nbsp;{{ gB_car.cTrans }}</a>
                </div>
            </div>

            <div class="col-md-9">

                <div class="thumbnail">
                    <img class="img-responsive" style="max-width:800px; max-height:500px;" src="{{gB_car.image}}" alt="">
                    <hr />
                    <div class="caption-full">
                        <h4 class="pull-right">{{ gB_car.cPrice|number_format(0, '.', ',') }}</h4>
                        <h4><a href="#">{{ gB_car.cMake }} {{ gB_car.cModel }}</a></h4>
                    </div>
                </div>

                <!-- Section: boxes -->

                <div class="row">
                <h2>Images for this car</h2>
                    {% for presentation in gB_car.presentations %}
                    <div class="col-md-3 col-sm-6 col-xs-12" style="height:200px;">
                        <a href="">
                            <img src="{{presentation.pPhotoPath}}" class="img-responsive" />
                            {{presentation.pDescription|raw}}
                        </a>
                    </div>
                    {% endfor %}
                </div>

                <!-- /Section: boxes -->




            </div>

        </div>

    </div>
    <!-- /.container -->
        </div>

     </section>
  </section>
    <ul>
        <li>
            <a href="{{ path('gb_car_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('gb_car_edit', { 'id': gB_car.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

{% endblock %}

{% endif %}
