        {% block stylesheets %}

        <!-- Start of Async Callbell Code -->
        <script>
        window.callbellSettings = {
            token: "kqPtHk2pwv79BnSP6agPGk5y"
        };
        </script>
        <script>
        (function(){var w=window;var ic=w.callbell;if(typeof ic==="function"){ic('reattach_activator');ic('update',callbellSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Callbell=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://dash.callbell.eu/include/'+window.callbellSettings.token+'.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
        </script>
        <!-- End of Async Callbell Code -->
        <style>
            /* Container holding the image and the text */
            .holder {
            position: relative;
            }

            /* Bottom right text */
            .text-block {
            position: absolute;
            bottom: 20px;
            right: 20px;
            background-color: rgba(168, 21, 40, 0.7);
            color: white;
            padding-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            }        
        </style>
        {% endblock %}
        
        <div class="row">

            <div class="col-md-3">
                <p class="lead">Gybird Motors</p>
                <div class="list-group" style="text-align:center;">
                <a href="#" class="list-group-item"><span class="ref">Make : </span>&nbsp;{{ gB_car.cMake }}</a>
                <a href="#" class="list-group-item"><span class="ref">Model : </span>&nbsp;{{ gB_car.cModel }}</a>
                <a href="#" class="list-group-item"><span class="ref">Steering : </span>&nbsp;{{ gB_car.cSteering }}</a>
                <a href="#" class="list-group-item"><span class="ref">Engine Capacity : </span>&nbsp;{{ gB_car.cEngCap }}</a>
                <a href="#" class="list-group-item"><span class="ref">Registration Year : </span>&nbsp;{{ gB_car.cRegYear }}</a>
                <a href="#" class="list-group-item"><span class="ref">Fuel : </span>&nbsp;{{ gB_car.cFuel }}</a>
                <a href="#" class="list-group-item"><span class="ref">Body Style : </span>&nbsp;{{ gB_car.cBodyStyle }}</a>
                <a href="#" class="list-group-item"><span class="ref">Exterior Color : </span>&nbsp;{{ gB_car.cExtColor }}</a>
                <a href="#" class="list-group-item"><span class="ref">Internal Color : </span>&nbsp;{{ gB_car.cIntColor }}</a>
                <a href="#" class="list-group-item"><span class="ref">Drive Type : </span>&nbsp;{{ gB_car.cDriveType }}</a>
                <a href="#" class="list-group-item"><span class="ref">Doors : </span>&nbsp;{{ gB_car.cDoors }}</a>
                <a href="#" class="list-group-item"><span class="ref">VIN : </span>&nbsp;{{ gB_car.cVin }}</a>
                <a href="#" class="list-group-item"><span class="ref">Model Code : </span>&nbsp;{{ gB_car.cModelCode }}</a>
                <a href="#" class="list-group-item"><span class="ref">Mileage : </span>&nbsp;{{ gB_car.cMileage }}</a>
                <a href="#" class="list-group-item"><span class="ref">Transmission : </span>&nbsp;{{ gB_car.cTrans }}</a>
                </div>
            </div>

            <div class="col-md-9">

                <div class="thumbnail">
                  <div class="holder">
                    <img class="img-responsive" src="{{gB_car.image}}" alt="">
                    {% if gB_car.availability == "not_available" %}
                    <div class="text-block"> 
                        <h4 style="color: white;">This car has been reserved or sold.</h4>
                        <form method="post" action="{{path('gb_car_show_results')}}" class="inline">
                            <input type="hidden" name="make" value="{{gB_car.cMake}}">
                            <input type="hidden" name="model" value="{{gB_car.cModel}}">
                            <button class="btn btn-primary" type="submit">Browse similar models that are available</button><br /><br />
                        </form>
                        <a class="btn btn-primary" target="blank" href="https://tawk.to/chat/5d67bba477aa790be33164e1/default">Chat live to order for a similar model</a>
                    </div>
                    {% endif %}
                  </div>
                    <hr />
                    <div class="caption-full">
                        <h4 class="pull-right">{{ gB_car.cPrice|number_format(0, '.', ',') }}</h4>
                        <h4><a href="#">{{ gB_car.cMake }} {{ gB_car.cModel }}</a></h4>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">{{ratings_for_this_car}} reviews</p>
                        <p>
                            {% set rounded_rating = average_of_ratings|round %}
                            {% for i in 1..rounded_rating %}
                            <span class="glyphicon glyphicon-star"></span>
                            {% endfor %}
                            {% set remaining = 5 - rounded_rating %}
                            {% if remaining > 0 %}
                            {% for i in 1..remaining %}
                            <span class="glyphicon glyphicon-star-empty"></span>
                            {% endfor %}
                            {% endif %}
                        
                            {{average_of_ratings|round(1)}} stars
                        </p>
                    </div>
                </div>

                <!-- Section: boxes -->

                <div class="row">
                    {% set counter = 0 %}
                    {% for presentation in gB_car.presentations %}
                    {% set counter = counter + 1 %}
                    {% if counter < 4 %}
                    <div class="col-md-3 col-sm-6 col-xs-12" style="min-height:200px;">
                            <img src="{{presentation.pPhotoPath}}" class="img-responsive" />
                            {{presentation.pDescription|raw}}
                    </div>
                    {% endif %}
                    {% endfor %}
                    <div class="col-md-3 col-sm-6 col-xs-12" style="height:200px;">
                        <a href="{{path('gb_presentation_index_all', {'car_id': gB_car.id })}}">
                            <img src="/img/see_all.jpg" class="img-responsive" />
                        </a>
                    </div>
                </div>

                <!-- /Section: boxes -->

                <div class="well">

                    <div class="text-right">
                        
                        {% if app.user|length > 0 %}
                        <a href="{{path('gb_testimonial_new', {'car_id': gB_car.id })}}" class="btn btn-success"> Leave a Review </a>
                        {% else %}
                        <a href="{{path('fos_user_security_login')}}" class="btn btn-success"> Sign In to Leave a Review </a>
                        {% endif %}
                       
                    </div>

                    <hr>
                    {% for testimonial in gB_car.testimonials %}
                    <div class="row">
                        <div class="col-md-12">
                            {% for i in 1..testimonial.tRating %}
                            <span class="glyphicon glyphicon-star"></span>
                            {% endfor %}
                            {% set remaining = 5 - testimonial.tRating %}
                            {% if remaining > 0 %}
                            {% for i in 1..remaining %}
                            <span class="glyphicon glyphicon-star-empty"></span>
                            {% endfor %}
                            {% endif %}
                            {{testimonial.user.username}}
                            <span class="pull-right">{{testimonial.submitted|date("jS F Y")}}</span>
                            <p>{{testimonial.tComment}}</p>
                        </div>
                    </div>

                    <hr>
                    {% endfor %}


                </div>

            </div>

        </div>

    <!-- /.container -->
        <hr>
                
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5d67bba477aa790be33164e1/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
        </script>
        <!--End of Tawk.to Script-->

{% if is_granted('ROLE_ADMIN') %}
    <ul>
        <li>
            <a href="{{ path('gb_car_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('gb_car_edit', { 'id': gB_car.id }) }}">Edit</a>
        </li>
    </ul>
{% endif %}